<div class="patternPreview"></div>
<div class="patternControls flexFixed">
    <div class="controlRow mainPanelRow">
        <div class="currentColor">
            <div class="current" title="click to draw with foreground color, shift click to draw with background color">
                <input class="fg" />
                <input class="bg" />
            </div>
        </div>
        <div class="metricsPanel">
            <label>FPS: <input type="number" pattern="\d*" class="fps" /></label>
            <label>Frames: <input type="number" pattern="\d*" class="frames" /></label>
            <label>Pixels: <input type="number" pattern="\d*" class="pixels" /></label>
            <button type="button" class="saveImage btn btn-default btn-xs" title="Save Lightwork as image" ><span class="glyphicon glyphicon-save"></span></button>&nbsp;
            <button type="button" class="loadImage btn btn-default btn-xs" title="Load Lightwork from image" ><span class="glyphicon glyphicon-folder-open"></span></button>&nbsp;
        </div>
    </div>
    <div class="controlRow">
        <div class="palette" title="This is the color pallet, left click to load, right click to set, shift click for background color"></div>
    </div>
</div>
<div class="editorcontainer flexExpand"></div>

