<div class="patternPreview"></div>
<div class="patternControls flexFixed noselect">
    <div class="controlRow mainPanelRow">
        <div class="currentColor">
            <div class="current" title="click to draw with foreground color, shift click to draw with background color">
                <input class="fg" />
                <input class="bg" />
            </div>
        </div>
        <div class="metricsPanel">
            <div class="mrow"><span class="labelText">FPS: </span><span class="fps_value valueText"></span></div>
            <div class="mrow"><span class="labelText">Fra: </span><span class="frames_value valueText"></span></div>
            <div class="mrow"><span class="labelText">Pix: </span><span class="pixels_value valueText"></span></div>
            <div class="metricsPopup">
                <label><span>FPS:</span><input type="number" pattern="\d*" class="fps" /></label>
                <label><span>Frames:</span><input type="number" pattern="\d*" class="frames" /></label>
                <label><span>Pixels:</span><input type="number" pattern="\d*" class="pixels" /></label>
            </div>
        </div>
        <div class="palette" title="This is the color pallet, left click to load, right click to set, shift click for background color">
            <button class="swapPalette btn btn-xs btn-default"><i class="glyphicon glyphicon-random"></i></button>
            <div class="special"></div>
            <div class="colors"></div>
        </div>
        <div class="undoredo">
            <button class="undoButton btn btn-sm btn-default"><i class="glyphicon glyphicon-share-alt glyphicon-flipped"></i></button>
            <button class="redoButton btn btn-sm btn-default"><i class="glyphicon glyphicon-share-alt"></i></button>
        </div>
    </div>
</div>
<div class="editorcontainer flexExpand noselect"></div>

